{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="signin-content">
 <div class="middle-block-signin">
  <div class="signin_block">
    <div class="signin_block_inside">
    <h1 class="sigin_text">Sign in</h1>

    <form class="form_signin" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="signin_button" type="submit" value="Sign in">
    </form>
  <a href="{% url 'auth:register' %}">
    <p>Don't have an account?</p>
    <p>Register</p>
  </a>
{% endblock %}
